html {
  overflow-y: scroll;
}

body {
  font-weight: 200;
  background-color: lighten($danger, 43%);
  .container-fluid {
    background-color: lighten($danger, 46%);
    min-height: 90vh;
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    width: 75%;
    margin: 2rem auto;
  }
}

.category-title {
  font-family: $font-family-jura;
  color: $gray-500;
}

.modal-title {
  font-family: $font-family-lobster;
}