$progressbar-bar-background: $primary;
$progressbar-background: lighten($primary, 45%);
@import "./node_modules/vue-progressbar-component/src/scss/progressbar";
.progressbar {
  @extend .progressbar;
  margin-bottom: .5rem;
  height: .75rem;
  &-bar {
    transition: transform .5s ease;
  }
}